.booking-overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 3;
  position: absolute;
}

.booking-modal {
  background: rgba(0, 0, 0, 0.85);
  max-width: 350px;
  padding: 30px 20px 20px 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 3px lighten(#548072, 10%);
  color: #e2e1e1;
  position: absolute;
  right: 85px;
  top: 145px;
  width: 30%;
  min-width: 400px;
  height: 200px;
  z-index: 3;
}

.booking-modal-container {
  display: flex;
  flex-direction: column;
  height: 90%;
}

.booking-modal-heading-container div {
  margin-top: 3px;
  margin-right: 5px;
}

.booking-main-container {
  height: 110%;
}

.booking-modal-heading-container {
  display: flex;
  justify-content: space-between;
  padding-bottom: 5px;
  color: lighten(#548072, 10%);
}

.booking-errors-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: -25px;
  padding: 3px;
  color: #6a9d8d;
}

.booking_placeholder::placeholder {
  color: lighten(#548072, 10%);
}
.booking_placeholder::-moz-placeholder {
  color: lighten(#548072, 10%);
}
.booking_placeholder:-ms-input-placeholder {
  color: lighten(#548072, 10%);
}
.booking_placeholder:-moz-placeholder {
  color: lighten(#548072, 10%);
}

.booking-body {
  color: lighten(#548072, 10%);
  border: solid lighten(#548072, 10%);
  height: 150px;
  border-width: 1px;
  border-radius: 5px;
  padding: 10px;
  overflow: scroll;
}
