.booking-overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0,0,0,0.3);
  z-index: 3;
}

.booking-modal {
  background: rgba(0, 0, 0, 0.78);
  max-width: 350px;
  padding: 30px;
  border-radius: 5px;
  box-shadow: 0px 0px 3px lighten(#548072, 10%);
  color: #e2e1e1;
  position: absolute;
  right: 85px;
  top: 145px;
  width: 30%;
  height: 27%;

}

.booking-modal-container {
  display: flex;
  flex-direction: column;
}

.booking-modal-heading-container {
  display: flex;
  justify-content: space-between;
  padding-bottom: 5px;
  color: lighten(#548072, 10%);
}

.send-booking {

}

.booking_placeholder::placeholder {
  color: lighten(#548072, 10%);
}
.booking_placeholder::-moz-placeholder {
  color: lighten(#548072, 10%);
}
.booking_placeholder:-ms-input-placeholder {
  color: lighten(#548072, 10%);
}
.booking_placeholder:-moz-placeholder {
  color: lighten(#548072, 10%);
}

.booking-body {
  border: solid lighten(#548072, 10%);
  height: 100px;
  border-width: 1px;
  border-radius: 5px;
  padding: 10px;
  height: 200px;
  overflow: scroll;
}
