.host-nav-container {
  display: flex;
  flex-flow: nowrap;
  justify-content: space-between;
  width: 100%;
  z-index: 1;
  background: black;
  color: #e2e1e1;
  box-shadow: 0 2px 0 rgba(0,0,0,0.2);
}

.host-nav-container h2 {
  font-size: 25px;
  margin: 5px 0 5px 85px;
}

.host-nav-listings {
  font-size: 25px;
  margin: 5px 0 5px 0;
}

.host-nav-listings:hover {
  cursor: pointer;
  border-bottom: solid lighten(#548072, 10%);
  border-width: 1px;
}

.host-nav-log-out {
  font-size: 25px;
  margin: 5px 85px 5px 0;
}

.host-nav-log-out:hover {
  cursor: pointer;
  border-bottom: solid lighten(#548072, 10%);
  border-width: 1px;
}
