.listings-side-bar {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  z-index: 1;
  width: 45%;
  min-width: 350px;
  position: fixed;
  top: 55px;
  left: 0px;
  border-bottom-right-radius: 15px;
  color: #e2e1e1;
}

.side-bar-item-main-container {
  display: flex;
  flex-direction: row;
}

.side-bar-item-main-container span {
  font-size: 15px;
  margin-top: 5px;
}

.side-bar-item-container {
  display: flex;
}

.side-bar-item {
  flex: 1 1 275px;
  display: flex;
  margin: 5px;
  padding: 10px;
  border-radius: 5px;
  border-width: 1px;
  background: rgba(0,0,0,0.9);
}

.img {
    position: relative;
    float: left;
    width: 100px;
    height: 150px;
    min-width: 55px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 5px;
}


.side-bar-item-description {
  display: flex;
  flex-direction: column;
}

.side-bar-item-description span {
  margin: 5px 0 5px 0;
  font-size: 15px;
}

.side-bar-about {
}

.name {
  display: flex;
  justify-content: flex-end;
  font-size: 25px;
}
