.modal-image {
  position: relative;
  float: left;
  width: 100px;
  height: 150px;
  min-width: 55px;
  border-radius: 50%;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;

}

.modal-name {
  font-size: 25px;
  margin: 10px;
}

.modal-about {
  font-size: 15px;
}

.modal-button {
  position: relative;
  float: right;
  font-size: 15px;
  border: #e2e1e1 solid;
  border-width: 2px;
  width: 85px;
  text-align: center;
  border-radius: 5px;
  margin-top: 10px;
}


.modal-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Modal {
  background: rgba(0, 0, 0, 0.78);
  max-width: 350px;
  padding: 30px;
  border-radius: 30px;
  box-shadow: 0px 0px 3px #e6e6e6;
  color: #e2e1e1;
}

.Overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background-color: rgba(0,0,0,0.3);
  z-index: 3;
}
