.side-bar-image {

}

.img {
    position: relative;
    float: left;
    width: 100px;
    height: 100px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
}

.listings-side-bar {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  z-index: 1;
  width: 40%;
  position: fixed;
  top: 75px;
  left: 0px;
  background: white;
}

.side-bar-item {
  flex: 1 1 250px;
  display: flex;
}
