.map-side-bar-container {
}

.listings-main-div {
}

.listings-nav-main {
}

#map {
  top: 0px;
  display: block;
  left: 0px;
  width: 100%;
  height: auto;
  position: fixed !important;
  top: 55px;
  bottom: 0px;
  right: auto;

}
