.reference-overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 3;
  position: absolute;
}

.reference-modal {
  background: rgba(0, 0, 0, 0.85);
  max-width: 350px;
  padding: 30px 20px 20px 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 3px lighten(#548072, 10%);
  color: #e2e1e1;
  position: absolute;
  right: 85px;
  top: 145px;
  width: 30%;
  min-width: 400px;
  height: 200px;
  z-index: 3;
}


.reference-modal-heading-container {
  display: flex;
  flex-direction: column;
}
.reference-heading-container {
  display: flex;
  color: lighten(#548072, 10%);
}

.reference-comment {
  color: lighten(#548072, 10%);
  border: solid 1px;
  border-radius: 5px;
  height: 150px;
  margin-top: 15px;
  padding: 10px;
}

.send-reference {
  color: lighten(#548072, 10%);
  margin-top: -5px;
  margin-left: auto;
  margin-top: 0px;
}
