.main-background {
  display: flex;
  justify-content: center;
  align-items: stretch;
  background-image: image("../images/bike_background.jpeg");
}

.form_container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login_title {
  font-size: 300%;
}

.login_items {
  padding: 5px
}

.sign_in_button {

}
